[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "==1.20.54"
pydantic = "==1.9.0"
moto = {version = "==3.0.5", extras = ["kms", "s3"]}

[dev-packages]
pytest = "==7.0.1"
datamodel-code-generator = {extras = ["http"], version = "*"}

[requires]
python_version = "3.10"
